[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
discord = "==1.0.1"
inject = "==4.2.0"

[dev-packages]
coverage = "==5.3"
nose2 = "==0.9.2"
faker = "==4.1.0"
pylint = "==2.5.2"

[requires]
python_version = "3.8"

[scripts]
app = "python run.py"
tests = "nose2 tests"
tests-coverage = "coverage run -m nose2 tests"
lint = "pylint --output-format=text app tests"
